# SUPABASE (Pour la connexion et la base de données)
VITE_SUPABASE_URL=https://votre-projet.supabase.co
VITE_SUPABASE_KEY=votre-cle-publique-anon

# CLOUDINARY (Pour les images)
CLOUDINARY_CLOUD_NAME=votre-cloud-name
CLOUDINARY_API_KEY=votre-api-key
CLOUDINARY_API_SECRET=votre-api-secret

# SPOTIFY (Pour la recherche d'images automatique)
SPOTIFY_CLIENT_ID=votre-client-id
SPOTIFY_CLIENT_SECRET=votre-client-secret
